// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$body-bg: #363636;
$component-active-color: rgb(3, 252, 194);
$body-color:  #fff;
$nav-tabs-border-color: #000;
$btn-color:  rgb(3, 252, 194);
$primary: rgb(3, 252, 194);
$btn-box-shadow: 0 0 0 0.2rem rgb(3, 252, 194);
$enable-dark-mode: false;
$navbar-light-color:  #ffffff;
$navbar-light-hover-color:  rgb(3, 252, 194);
$navbar-light-brand-color: rgb(3, 252, 194);
$navbar-light-brand-hover-color:  #fff;
$dropdown-link-hover-bg:  rgb(3, 252, 194);
$dropdown-link-hover-color:  #000000;
$navbar-light-active-color: rgb(3, 252, 194);
$dropdown-font-size:  1rem;